html{
	font-family:sans serif;
	-webkit-tap-highlight-color:(0,0,0,0);
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

body{
	margin:0;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:1.42857143;
	color:#333;
	background:url(../img/pizza.jpg) no-repeat 25% 25%;
	background-size: cover;
}



h1, h2, h3, h4, h5, h6{
	font-family:'Open Sans', sans-serif;
}

h1{
	font-size:5em;
	line-height:100px;
	text-transform:uppercase;
	text-align:center;

	text-shadow:2px 2px 3px rgba(0,0,0,0.5);
}

h2{
	padding-top:25px;
	line-height:40px;
	padding-bottom:0px;
	font-weight:900;
}

/*NOT WORKING!!!
	
	#menuBG{
	background:url(../img/pizza.jpg) repeat;
	background-size: cover;
}*/

.container{
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}



form{
	font-size:15pt;
	outline:none;
	font-weight:600;
	color:#000;
	padding:12px 12px;
	width:75%;
	height:25%;
	border:1px solid #808080;
	margin:2% auto;
	border-radius:7px;
	background:#1eb213;
	box-shadow:2px 3px 3px 0px rgba(0,0,0,0.3);
	font-family:'Raleway', sans-serif;
}

/*input[type="text"] {
	font-size:15px;
	outline:none;
	font-weight:600;
	color:#1eb213;
	padding:2% 1% 2% 7%;
	width:75%;
	border-top:1px solid #1eb213;
	border-right:2px solid #1eb213;
	border-bottom:2px solid #1eb213;
	border-left:1px solid #1eb213;
	margin:10px 1em;
	border-radius:7px;
	background:#13161b;
	box-shadow:inset 0px 3px 0px 0px rgba(5, 5, 5, 0,15);
	font-family:'Raleway', san-serif;
}


